body{
    --dqFormElementBgColor:#222;
    --dqFormElementFgColor:#fff;
    --dqFormElementBorderColor:#555;
    --dqFormToggleOnColor:#0c0;
    --dqFormToggleOffColor:#777;
    --dqFormLabelTextColor:hsl(200, 100%, 80%);    
    --dqFormListElementBgColor:#111;
    --dqFormListElementBorderColor:#444;
    --dqFormElementPadding:.5rem;
}

.dq--formitem{
    box-sizing: border-box;
    cursor: pointer;
    padding: var(--dqFormElementPadding);
}

.dq--formitem label{
    user-select: none;    
    color: var(--dqFormLabelTextColor);
    cursor: pointer;
}

.dq--toggle--container,.dq--tick--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dqFormListElementBgColor);
    border-bottom: 1px solid var(--dqFormListElementBorderColor);
}

.dq--toggle--container .dq--toggle--switch{
    background-color: var(--dqFormElementBgColor);
    border: 1px solid var(--dqFormElementBorderColor);
    border-radius: 1.5rem;
    width:4.5rem;
    height:2.8rem;
    display: block;
}

.dq--toggle--container .dq--toggle--switch::after{
    background-color: var(--dqFormToggleOffColor);
    content: '';
    width:2.4rem;
    height:2.4rem;
    display: block;
    border-radius: 50%;
    margin: 0.2rem;
    transition: all 150ms ease-in-out;
}

.dq--toggle--container.dq--checked .dq--toggle--switch::after{
    margin: 0.2rem 0.2rem 0.2rem 1.9rem;
    background-color: var(--dqFormToggleOnColor);
}


.dq--tick--container .dq--tick--switch{
    background-color: var(--dqFormElementBgColor);
    border: 1px solid var(--dqFormElementBorderColor);
    border-radius: 1.5rem;
    width:2.8rem;
    height:2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.dq--tick--container .dq--tick--switch::after{
    color: var(--dqFormToggleOnColor);
    content: '✓';
    font-size: 2rem;    
    transition: all 150ms ease-in-out;
    opacity: 0;
}

.dq--tick--container.dq--checked .dq--tick--switch::after{
    opacity: 1;
}
